.cities-sections {
  height: 100vh;
}
.cities-sections .cites-section__text h2 a {
  color: var(--primary-text-color);
  font-size: 12px;
  text-decoration: none;
}
.cities-section__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.cities-sections .cites-section__text {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.cities-sections .cites-section__text:hover {
  opacity: 1 !important;
  transform: scale(1.2);
}
.cities-sections .cites-section__text h2 {
  display: inline;
}
.cities-style {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

